app-main-page {
    height: 100%;
}

.main-page-container {
    background: url(../../assets/beautiful-background-picture.png) no-repeat center center;
    background-color: #BDBDBD;
    width: 100%;
    margin-top: -20px;
    min-height: 500px;
}