app-main-page {
    height: 100%;
}

.main-page-container {
    background: url(../../assets/beautiful-background-picture.png) no-repeat center center;
    background-color: #BDBDBD;
    width: 100%;
    margin-top: -20px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-wrapper {
    margin-top: 150px;

    padding: 15px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    width: 90%;

    .search-input {
        width: 80%;
        border-radius: 5px 0 0 5px;
        box-sizing: border-box;

        // display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .btn {
        width: 20%;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;

        position: relative;
        z-index: 200;
        border: 0;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
        background: #D43540;
        height: 34px;
    }
}

@media (max-width: 767px)
{
    .form-wrapper {
        .btn {
            width: 100%;
            border-radius: 0 0 5px 5px;
        }

        .search-input {
            width: 100%;
            border-radius: 5px 5px 0 0;
        }
    }
}
